
.container div{
    border: 2px solid orangered;
    padding: 20px;
}
.box{
    flex:1;
    order: 2;
}
.box-1{
    flex:2;
    order: 1;  
}
.box-2{
    flex:2;
    order: 3;
}

.box-3{
    border: 2px solid rgb(71, 70, 70);
    padding: 20px;
    /* lekhaka aki map a raktr flex basis nebo*/
    flex-basis: 25%;
}
/* lekhaka k responsiv korar jekno ba device a aki map a rakte*/
@media(min-width:768px){
    .container{
        background-color: rgb(38, 238, 71);
        display: flex;
        /*page ar kono lekha k upor,necha ba majkhan a neta necher kaj kor te hoi*/
    /*align-items:flex-start;*/
    /*align-items:flex-end;*/
    /*align-items:center;*/
    /*flex-driection:row-reverse;*/
    /**/
    }
    .container-2{
        background-color: rgb(242, 242, 248);
        display: flex;
        /*lekha dan o bam a nete necher kaj*/
        /*justify-content: flex-start;*/
        /*justify-content: flex-end;*/
        /*justify-content: center;*/
        /*justify-content: space-around;*/
        justify-content: space-between;
    }
    
}
.container-3{
    display: flex;
    flex-wrap: wrap;
}
.testwarp{
    background-color: aquamarine;
    padding: 20px;
    border: 2px solid olivedrab;
    flex-basis:5%;
}